themes/flt/_src/index.pug
.hero.is-fullheight-with-navbar.bg
    .container.has-text-centered.hero-body
        .container
            h1.title.txt <%-config.author%>
            h2.subtitle.txt <%- theme.auth.title%>
            .box 
                p contact me:
                <% Object.keys(theme.social).forEach(function(key){%>
                a.button(href!='<%-theme.social[key]%>')
                    <%if (key=='email') {logo = 'envelope'} else {logo = key.toLowerCase()}%>
                    i.fa.fa-fw(class!='fa-<%- logo%>')
                    <%- key%>
                <% })%>
//- .hero.bga
//-     a#about
//-     .hero-body.columns.is-desktop
//-         .container.column.is-3.box
//-             h1.title.has-text-centered About Me
//-             p <%=theme.auth.bio%>
//-             p learn more by reading my 
//-                 a(href="/archives") archives.
//-         .container.column.is-3.box.has-text-centered
//-             h1.title skills
//-             <% Object.keys(theme.skills).forEach(function(key){%>
//-             .container.level
//-                 .level-left <%=key%>
//-                 .level-right 
//-                     | <progress class="progress" value="<%=theme.skills[key]%>" max="100"></progress>
//-             |  <% })%>
//-         .container.column.is-3.box.has-text-centered
//-             h1.title tools
//-             |  <% Object.keys(theme.tools).forEach(function(key){%>
//-             .container.level
//-                 .level-left <%=key%>
//-                 .level-right 
//-                     | <progress class="progress" value="<%=theme.tools[key]%>" max="100"></progress>
//-             |  <% })%>

public/index.html
<!DOCTYPE html>
<html>
<head><meta name="generator" content="Hexo 3.8.0">
 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
 
 <title>
  
  Fathin Luqman Tantowi
 </title>
 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js">
 </script>
 <link rel="stylesheet" href="/css/ie10-viewport-bug-workaround.css">
 <link rel="stylesheet" href="/css/index.css">
 <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">
</script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
</script>
<![endif]-->
</head>

<body class="bga" style="min-height:100vh">
 <div class="navbar">
 </div>
 <nav class="navbar is-dark is-fixed-top">
 <div class="navbar-brand">
  <a class="navbar-brand" href="/">
   <img class="is-1by1" src="https://www.gravatar.com/avatar/16aa7327cfaa172938aa404676090316?s=52&d=mm" alt="Image">
  </a>
  
  <a class="navbar-burger" aria-expanded="false" aria-label="menu" role="button" id="burger">
   <span aria-hidden="true">
   </span>
   <span aria-hidden="true">
   </span>
   <span aria-hidden="true">
   </span>
  </a>
 </div>
 <div class="navbar-menu">
  <div class="navbar-start">
   
   <a class="navbar-item" href="/archives">
    Archives
   </a>
   
  </div>
 </div>
</nav>
 <div class="hero is-fullheight-with-navbar bg">
 <div class="container has-text-centered hero-body">
  <div class="container">
   <h1 class="title txt">
    Fathin Luqman Tantowi
   </h1>
   <h2 class="subtitle txt">
    Engineer - Maker - Developer
   </h2>
   <div class="box">
    <p>contact me:</p>
    
    <a class="button" href="https://github.com/fdedraco">
     
     <i class="fa fa-fw fa-github">
     </i>
     Github
    </a>
    
    <a class="button" href="https://gitlab.com/fltfathin">
     
     <i class="fa fa-fw fa-gitlab">
     </i>
     Gitlab
    </a>
    
    <a class="button" href="https://twitter.com/fltfathin">
     
     <i class="fa fa-fw fa-twitter">
     </i>
     Twitter
    </a>
    
    <a class="button" href="fltfathin@gmail.com">
     
     <i class="fa fa-fw fa-envelope">
     </i>
     email
    </a>
    
   </div>
  </div>
 </div>
</div>
 <div class="footer">
 <div class="content has-text-centered">copyright 2019 Fathin Luqman Tantowi
 </div>
</div>
 <script>
 $(document).ready(function() {
  $(".navbar-burger").click(function() {
   $(".navbar-burger").toggleClass("is-active");
   $(".navbar-menu").toggleClass("is-active");
  });
 });
</script>
</body>

</html>
